


.btn-primary {
  background-color: var(--primary-red) !important;
  border-color: var(--primary-red) !important;
}

.btn-primary:hover {
  background-color: var(--primary-red) !important;
  border-color: var(--primary-red) !important;
}






